body {
  background: #E9EBEC;
  text-align: left;
}

* {
  color: #575757;
  font-family: "Poppins";
}

.container {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  margin: 60px auto;
  width: auto;
}

.oval {
  width: 80px;
  height: 80px;
  top: 33px;
  left: 827px;
  border: 1px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 50%;
  cursor: pointer;
}

.oval svg {
  width: 28.89px;
  height: 30.44px;
  top: 5.07px;
  left: 2.89px;
  fill: #3D3D3D;
}

#profile_info {
  max-width: 631px;
  max-height: 215px;
  top: 178px;
  gap: 40px;
  left: 548px;
  justify-content: space-around;
}

.picture {
  width: 215px;
  height: 215px;
  left: 2px;
  border: 4px solid #F7D039;
  background: #FFFFFF;
  border-radius: 50%;
}

.picture img {
  width: 192px;
  height: 192px;
  top: 12px;
  left: 14px;
  border-radius: 50%;
  margin: 11px;
}

.information {
  max-width: 372px;
  max-height: 156px;
  letter-spacing: 0em;
  text-align: left;
}

#name p {
  color: #3D3D3D;
  max-height: 69px;
  font-size: 46px;
  line-height: 69px;
}

.occupation {
  max-height: 33px;
  top: 72px;
}

.social_media {
  justify-content: space-around;
  max-width: 222px;
  max-height: 36px;
  top: 117px;
  gap: 26px;
}

.social_media svg {
  max-width: 36px;
  max-height: 36px;
  fill: #575757;
  padding-right: 10px;
}

#profile_facts {
  max-width: 634px;
  max-height: 142px;
  top: 441px;
  left: 547px;
  padding: 20px 2px 20px 2px;
  gap: 90px;
  justify-content: space-around;
}

.quantity {
  width: 148px;
  height: 36px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.item {
  width: 148px;
  height: 66px;
  text-align: center;
}

#profile_buttons {
  width: 618px;
  height: 80px;
  top: 630px;
  left: 555px;
  justify-content: space-around;
}

.download_cv {
  border: 1px solid #FBD144;
  margin-right: 30px;
  background: #FBD144;
  letter-spacing: -0.5314737558364868px;
}

.contact_button {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  margin-right: 30px;
  letter-spacing: -0.5002105832099915px;
}

.button {
  width: 290px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  cursor: pointer;
}

.tabs_container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  background: #FFFFFF;
  padding: 10px;
  width: 80%;
}

.tabs_container a {
  text-decoration: none;
  color: #3d3d3d;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.tabs_container a:hover {
  background: #D7D7D7;
}

.tabs_content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  width: 80%;
}

.content {
  position: relative;
}

.content img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFE071E0;
  border-radius: 20px;
  cursor: pointer;
}

.content:hover img {
  opacity: 0.88;
}

.content:hover .overlay {
  opacity: 1;
}

body.light-theme {
  background: #E9EBEC;
  color: #575757;
}

body.dark-theme {
  background: #0C151D;

}

body.dark-theme * {
  color: #A3ABB2;
}

body.dark-theme #name p {
  color: #F1F2F4;
}

body.dark-theme svg {
  fill: #A3ABB2;
}

body.dark-theme svg path {
  stroke: #A3ABB2;
}

body.dark-theme .oval {
  background: #171F26;
  border: 1px solid #171F26;
}

body.dark-theme .contact_button {
  background: #171F26;
  border: 1px solid #171F26;
}

body.dark-theme .tabs_container {
  background: #171F26;
}

body.dark-theme .tabs_container a:hover {
  background: #0C151D;
}

body.dark-theme .download_cv {
  background: #FFE071;
}

body.dark-theme .picture {
  border: 4px solid #FFE071
}