body {
  margin: 0;
  padding: 0;
  background-color: #fffaeb;
  color: #130e01;
  font-family: "Roboto";
}

#main-container {
  padding: 16px;
}

#main-container h3 {
  text-align: center;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-container form {
  background-color: #fff5d6;
  padding: 32px;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 95%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #ff8400;
  color: #fff;
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cf4307;
}

.control.success input {
  border-color: #09c372;
}
.control.error input {
  border-color: #ff3860;
}
.control .error {
  color: red;
  font-size: 12px;
  height: 13px;
}
